{{>form}}

<h1>Listado de productos</h1>

<div class="btnListado">
 <a class="btn" href="/api/form">Agregar producto</a>   
</div>

<div id="products"></div>

<br/>

<table id="message"></table>

<br/>

{{>chatForm}}