<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>

    <form action="" method="post">
        <div id="login-div">
          <input type="text" id="username" name="username" value=""
            placeholder="Username" />
        </div>
        <div>
          <button type="submit" id="login-btn">
            Ingresar
          </button>
        </div>
      </form>
      
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/login.js"></script>

  </body>
</html>
