html
    head
        title='My app'
        style
            include styles.css
    body
        h1="No se encontraron productos"
        div(class='btnListado')
            <a class="btn" href="/api/form">Agregar producto</a>   
