    <h1>Cargar productos</h1>
    <form id="productsForm">
      <label>Título:</label>
      <input type="text" id="title" name="title" />

      <br />

      <label>Precio:</label>
      <input type="number" id="price" name="price" />

      <br />

      <label>Imagen:</label>
      <input type="text" id="thumbnail" name="thumbnail" />

      <br />

      <button onclick="addProduct(productsForm)">Agregar</button>
    </form>
 {{!-- <a class="btn" href="/api/products">Volver al listado</a>    --}}
