<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>


<body onload="redirect()"></body>
  <div>
    USER ERROR SIGNUP
  </div>
  <div class="fs-5">
    Redirigiendo en <span id="time">3</span> segundos
  </div>
  <div>
    <a href="/api/signup">
      <button>Volver a Sign Up</button>
    </a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script>
  function redirect() {
    setTimeout(() => {
        location.href = "/api/signup"
      }, 3000)}
</script>
</body>

</html>