<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <form action="" method="post">
      <div id="login-div">
        <input
          type="text"
          id="username"
          name="username"
          value=""
          placeholder="Username"
        />

        <input
          type="password"
          id="password"
          name="password"
          value=""
          placeholder="Password"
          autocomplete="off"
        />
      </div>
      <div>
        <button type="submit" id="login-btn">Ingresar</button>
      </div>
    </form>

    <div class=" d-flex flex-column align-items-center text-center w-100  ">
      <div>¿No posee una cuenta?</div>
      <button onclick="location.href='/api/signup'">
        Registrarse
      </button>
    </div>



    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/login.js"></script>
  </body>
</html>
