<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>


  <body onload="redirect()">
      <h1>Gracias por tu visita, <%=name%></h1>
      <p>Serás redirigido en unos segundos</p>

    <script>
      function redirect() {
        setTimeout(() => {
            location.href = "/api/login";
          
        }, 1500);
      }
    </script>
  </body>
</html>
