<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div>
      <form method="POST" action="/api/random">
        <h2 class="fw-bold mb-2 text-uppercase">Fork</h2>

        <p>Bucle: </p>
        <div class="form-group">
          <input type="number" id="typeEmailX" max="500000000" name="cantBucle"
            class="form-control form-control-lg" />
        </div>

        <button type="submit">Generar</button>
      </form>
    </div>

    <script>
      document.querySelector('form').onsubmit = function () {
        this.setAttribute('action', "/api/random?cant=" + document.querySelector('input[name=cantBucle]').value)
      }
    </script>
  
  </body>
</html>
